<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

	<application
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/MyTheme"
		tools:ignore="AllowBackup,UnusedAttribute">

		<activity
			android:name="org.treebolic.one.owl.MainActivity"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name="org.treebolic.one.owl.TreebolicActivity"
			android:parentActivityName="org.treebolic.one.owl.MainActivity"
			tools:targetApi="jelly_bean">
		</activity>

		<activity
			android:name="org.treebolic.one.owl.SettingsActivity"
			android:parentActivityName="org.treebolic.one.owl.MainActivity"
			tools:targetApi="jelly_bean">
		</activity>

		<activity
			android:name="org.treebolic.one.owl.DownloadActivity"
			android:parentActivityName="org.treebolic.one.owl.MainActivity"
			tools:targetApi="jelly_bean">
		</activity>

		<activity
			android:name="org.treebolic.guide.HelpActivity"
			android:parentActivityName="org.treebolic.one.owl.MainActivity"
			tools:targetApi="jelly_bean">
		</activity>

		<activity
			android:name="org.treebolic.guide.AboutActivity"
			android:parentActivityName="org.treebolic.one.owl.MainActivity"
			tools:ignore="UnusedAttribute">
		</activity>

		<activity
			android:name="org.treebolic.filechooser.FileChooserActivity"
			android:parentActivityName="org.treebolic.one.owl.MainActivity"
			tools:ignore="MissingRegistered">
		</activity>

	</application>

</manifest>
